<div class="section-title">
  <h3>Vytváření hesla</h3>
</div>
<div style="margin-left: 10%; margin-right: 10%">
  <form [formGroup]="form" (submit)="send()">
    <mat-form-field appearance="fill">
      <mat-label>Administrátorské heslo</mat-label>
      <input
        matInput
        formControlName="password"
        type="password"
      /> </mat-form-field
    ><br />
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" /> </mat-form-field
    ><br />
    <mat-form-field appearance="fill">
      <mat-label>Závod</mat-label>
      <mat-select formControlName="race">
        <mat-option *ngFor="let race of races" [value]="race._id">
          {{ race.name }}
        </mat-option> </mat-select
      ><br /> </mat-form-field
    ><br />
    <button mat-raised-button color="primary" [disabled]="sending">
      Poslat
    </button>
  </form>
</div>
