.section-title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 28px;
  margin-left: 10%;
  margin-right: 10%;
}

.section-title > h3 {
  margin: 0;
}

.section-title > h3 > span {
  color: #106eea;
}

.section-title > h4 {
  margin: 0;
}

.section-title > h4 > span {
  color: #106eea;
}

.section-title > h5 {
  margin: 0;
}

.section-title > h5 > span {
  color: #106eea;
}

.container {
  margin-left: 10%;
  margin-right: 10%;
}

table {
  border: solid 1px black;
  border-radius: 25px;
}

tr {
  border-bottom: 1px solid #ddd;
}

td,
th {
  padding: 10px;
}

.headers-row > th {
  color: #106eea;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.center-table {
  display: flex;
  justify-content: center;
}
