<div class="section-title">
  <h3>Historie</h3>
</div>
<div class="container links">
  <a href="/api/docs/Historie_statistika.pdf" target="_blank">
    <button mat-raised-button>
      <mat-icon>description</mat-icon>Statistika historie běhů do vrchu
    </button></a
  ><br />
  <a href="/api/docs/UPICKA_ATLETIKA.pdf" target="_blank">
    <button mat-raised-button>
      <mat-icon>description</mat-icon>Historie úpické atletiky
    </button> </a
  ><br />
  <a href="/api/docs/35rocnikBehuDoVrchu.pdf" target="_blank">
    <button mat-raised-button>
      <mat-icon>description</mat-icon>Úvodní slova k 35. výročí běhu do vrchu
    </button>
  </a>
</div>
<div class="section-title">
  <h4>Celkové výsledky</h4>
</div>
<div class="container">
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="!availableOverallHistoryResults"
  ></mat-progress-bar>
  <div
    *ngIf="availableOverallHistoryResults"
    class="overall-history-buttons-div"
  >
    <button
      mat-raised-button
      *ngFor="let year of availableOverallHistoryResults"
      routerLink="/vysledky/historie/celkove/{{ year }}"
      color="primary"
    >
      {{ year }}
    </button>
    <a href="http://old.vrchy.maratonstav.cz/historie/">
      <button mat-raised-button>2020</button>
    </a>
    <a href="http://old.vrchy.maratonstav.cz/historie/">
      <button
        mat-raised-button
        routerLink="http://old.vrchy.maratonstav.cz/historie/"
      >
        2019
      </button>
    </a>
    <a href="http://www.iscarex.cz/pohar/126/rocniky" target="_blank">
      <button
        mat-raised-button
        routerLink="http://www.iscarex.cz/pohar/126/rocniky"
      >
        2018 - 1986
      </button>
    </a>
  </div>
</div>

<div class="section-title">
  <h4>Závody</h4>
</div>
<mat-progress-bar mode="indeterminate" *ngIf="loadingRaces"></mat-progress-bar>
<div *ngIf="!loadingRaces">
  <mat-tab-group>
    <mat-tab
      *ngFor="let year of historyRacesSorted"
      [label]="year.year.toString()"
    >
      <div style="display: flex; justify-content: center">
        <div style="overflow: auto">
          <table style="width: 100%">
            <tr class="headers-row">
              <th>Název závodu</th>
              <th>Datum</th>
              <th>Propozice</th>
              <th>Výsledky</th>
            </tr>
            <tr *ngFor="let race of year.races">
              <th>{{ race.name }}</th>
              <td>{{ race.date }}</td>
              <td>
                <a
                  href="{{ race.proposition }}"
                  *ngIf="race.proposition"
                  target="_blank"
                  >Propozice</a
                ><span *ngIf="!race.proposition">Nedostupné</span>
              </td>
              <td>
                <a
                  routerLink="/vysledky/historie/{{ race._id }}"
                  *ngIf="race.hasResults"
                  >Výsledky</a
                ><span *ngIf="!race.hasResults">Nedostupné</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="2020">
      <div style="display: flex; justify-content: center; margin-top: 20px">
        <a href="http://old.vrchy.maratonstav.cz/historie/" target="_blank">
          <button mat-raised-button color="primary">
            <mat-icon>description</mat-icon>Závody
          </button></a
        >
      </div>
    </mat-tab>
    <mat-tab label="2019">
      <div style="display: flex; justify-content: center; margin-top: 20px">
        <a href="http://old.vrchy.maratonstav.cz/historie/" target="_blank">
          <button mat-raised-button color="primary">
            <mat-icon>description</mat-icon>Závody
          </button></a
        >
      </div>
    </mat-tab>
    <mat-tab label="2018 - 1986">
      <div style="display: flex; justify-content: center; margin-top: 20px">
        <a href="http://www.iscarex.cz/pohar/126/rocniky" target="_blank">
          <button mat-raised-button color="primary">
            <mat-icon>description</mat-icon>Závody
          </button></a
        >
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
