tr {
  border-bottom: 1px solid #ddd;
}

td,
th {
  padding: 10px;
  text-align: left;
}

.headers-row > th {
  color: #106eea;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.section-title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 28px;
  margin-left: 10%;
  margin-right: 10%;
}

.section-title > h3 {
  margin: 0;
}

.section-title > h3 > span {
  color: #106eea;
}
