.table-div {
  border: 2px solid #106eea;
  border-radius: 20px;
}

tr {
  border-bottom: 1px solid #ddd;
}

td,
th {
  padding: 10px;
}

.headers-row > th {
  color: #106eea;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.section-title {
  text-align: center;
  color: #106eea;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.section-title > h2 {
  margin: 0;
  background-color: #e7f1fd;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
}

::ng-deep .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}

.container {
  margin-left: 10%;
  margin-right: 10%;
}
